:root {
    --ds-dark: black;
    --ds-bg: white;
    --ds-bg-altdarker: #d3d3d3;
    --debug-header-bg: #add8e6;
    --debug-navigation-bg: #d6a630;
    --debug-jumbotron-bg: #00008b;
    --debug-jumbotron-section: #ee82ee;
    --debug-section1: #1e90ff;
    --debug-section2: #ffc0cb;
    --debug-section3: #228b22;
    --debug-footer-bg: #23272a;
    --debug-footer-left-column: #f08080;
    --debug-footer-columns: #20b2aa;
    --debug-footer-logo-bg: #7fffd4;
    --debug-footer-logo-section: #feb5c0;
}

* {
    padding: 0;
    box-sizing: border-box;
}

.debug {

    * {
        border: 2px dashed black;
        font-size: 18px;
        color: black;
    }

    header {
        background-color: var(--debug-header-bg);
    }

    #navigation {
        background-color: var(--debug-navigation-bg);
    }

    #jumbotron {
        background-color: var(--debug-jumbotron-bg);
    }

    main {
        background-color: white;
    }

    #technology {
        background-color: var(--debug-section3);
    }

    .main_bg_darker {
        background-color: var(--ds-bg-altdarker);
    }

    .main_bg_lighter {
        background-color: var(white);
    }

    .main_pic {
        background-color: var(--debug-section1);
    }

    .main_text {
        background-color: var(--debug-section2);
    }

    .main_alt2 {
        background-color: var(--debug-section3);
    }

    footer {
        background-color: var(--debug-footer-bg);
    }
}

footer {
    min-height: 120px;
    display: flex;
    align-items: center;
}

.align {
    width: 64%;
    margin: 1rem 16%;

}

#navigation {
    display: flex;
    align-items: center;

    #logo {
        width: 20%;
    }

    #home {
        width: 60%;
        text-align: center;
    }

    #login {
        width: 20%;
        text-align: end;
    }
}

#jumbotron {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    #jumbo_center {
        background-color: var(--debug-jumbotron-section);
        min-width: 50%;
        min-height: 80%;
    }
}

#invite_only,
#community,
#fandom,
#technology {
    display: flex;
    height: 500px;
}

.main_pic {
    height: 500px;
    flex-grow: 3;
}

.main_text {
    height: 500px;
    flex-grow: 2;
}

#community {
    flex-direction: row-reverse;
}

#footer_links {
    display: flex;
    flex-direction: column;
}